<!DOCTYPE html>
<html lang="en">
<style>
    .jumbotron {
        margin: auto;
        width: 90%;
    }

    .blockquote {
        display: inline-block;
        width: 20%;
        margin-left: 10%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+yWASP3zYNxxvwoQBD5fUSc1tctKq4KUiZzxgkBSJACiUp+IbweVKvsEhMI+gz7"
        crossorigin="anonymous">
    <title>Application</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Message App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
                <a href="/login_page" class="btn btn-secondary my-2 my-sm-0">Sign In</a>
        </div>
    </nav>
    <div id="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to the Message App</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
            </p>
            <hr class="my-4">
            <p>Click start below to create your new account with the Message App.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/register_page" role="button">Start</a>
            </p>
        </div>
        <div>
            <blockquote class="blockquote">
                <bold>Manage Users</bold>
                <p> </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                </footer>
            </blockquote>
            <blockquote class="blockquote">
                <bold>Leave Messages</bold>
                <p> </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                </footer>
            </blockquote>
            <blockquote class="blockquote">
                <bold>Edit User Info</bold>
                <p> </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                </footer>
            </blockquote>
        </div>
    </div>
</body>

</html>